/* inizio regole css */

/* abbandono bootstrap, alla fine del layout mettere le regole responsive, col, row ecc. oppure senza. */

*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body{
  background: #151623;

}


/* */

.overflow{
overflow-y: visible;
}

.mainflex{
  display: flex;
}
.navlaterale{
  max-width: 230px;
  height: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  top: 0px;
  left: 0px;
  font-size: 14px;

}

.navlateraletop{
  flex-wrap: nowrap;
  align-self: center;
  padding-left: 20px;
  width: 100%;
}

.navlateraletopxs{
  display: none;
}



.navlateraletop img{
  width: 14%;

}

.navlateraleplaylist{
  align-self: center;
  padding-left: 20px;
  width: 100%;
}

.overflowpl{
  height: 100%;
  overflow-y: auto;

}

.navlateraleplaylist h2{
  color: white;
  font-size: 20px;
}

.fa-plus-square{
  font-size: 30px;
}

#logo{
  width: 60%;
  align-self: center;
  margin-right: 70px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.navlateralebottom{
  align-self: center;
  padding-left: 20px;
  width: 100%;
  position: absolute; /* da cambiare in position fixed in media query height */
  bottom: 90px;


}

.navlaterale ul li{
  list-style-type: none;
  padding: 4px 0;
}

.navlaterale ul li a{
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}

.navlaterale ul li a:hover{
  color: white;
}

.navlateralebottom a{
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}

.navlateralebottom a:hover{
  color: white;
}

.calltoaction{
  width: calc(100% - 230px);
  height: 90px;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 230px;
  text-align: right;
  z-index: 3;
}

.calltoaction a{
  text-decoration: none;
  color: white;
  background-color: none;
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px 40px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 20px;

}

.calltoaction a:hover{
  padding: 15px 45px;
}

.contenutosito{
  margin-top: 90px;

  position: absolute;
  left: 240px;

}


.contenutosito nav ul{
    display: flex;
    justify-content: center;
}

.contenutosito nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;


}

.contenutosito nav ul li a{
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  font-size: 14px;
}

.contenutosito nav ul li a:hover{
  color: white;

}

.covermusic{
  display: flex;
  width: 100%;
  height: auto;
  padding-bottom: 100px;
}


.itemscover{
  height: auto;
  position: relative;
  width: 16.6%;
  padding-right: 14px;

}

.image{
  display: block;
  width: 100%;
  height: auto;
}

.overlay{
  position: absolute;
  transition: all .3s ease;
  opacity: 0;
  background-color: rgba(0.0.0.5);
}

.itemscover:hover .overlay{
  opacity: 1;

}

.icona{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.overlayfade{
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.itemscover:hover .overlayfade{
  width: 100%;

}



.text{
  text-align: center;
  color: white;
  padding: 10px 0;


}

.text h4{
  font-size: 18px
}

.text p{
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
}

.contenutosito h2{
  color: white;
  font-size: 26px;
  padding-left: 14px;
  padding-bottom: 24px;
}

.roundedcover{
  border-radius: 100%;
}

.padbot{
  padding-bottom: 98px;
}


.footerfixed{
  background: #282828;
  width: 100%;
  height: 90px;
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
}

.footerleft{
  display: flex;
  width: 20%;
  justify-content: space-around;
  align-items: center;
}

.footerleft img{
  width: auto;
  height: 70%;
}

.footerleft a{
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.far, .fas{
  color: grey;
  font-size: 18px;
  padding: 0 10px;
}

.fa-random, .fa-step-backward, .fa-play-circle, .fa-step-forward, .fa-redo-alt{
  color: white;
  padding: 0 14px;
  font-size: 24px;

}

.footercenter{
display: flex;
width: 40%;
justify-content: center;
text-align: center;
align-self: center;
}

#player{
  width: 100%;
  height: 5px;
  margin-top: 14px;
  background-color: white;
}

.footerright{
  width: 20%;
  text-align: center;
  align-self: center;

}

.fa-list-ul, .fa-desktop, .fa-volume-up{
color: white;
}

#audio{
  width: 20%;
  height: 5px;
  background-color: white;
}

/* Inizio media query */

/* xs */
@media only screen and (max-width: 575px) {
.col-xs-12{
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 70%;
}
.col-xs-12calltoaction{
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 85%;
}

.navlaterale{
  width: 100px;
  height: 100%;
}
.contenutosito{
  margin-top: 90px;
  position: absolute;
  left: 100px;

}

.calltoaction{
  width: 100%;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0px;
  left:100px;
  text-align: right;
  z-index: 3;
}

.footerleft{
width: 40%;
}
.navlateraleplaylist{
  display: none;
}

.navlateralebottom{
  display: none;
}

.navlateraletop{
  display: none;
}

#logo{
  display: none;
}

.navlateraletopxs{
  display: block;
  flex-wrap: nowrap;
  align-self: center;
  padding-left: 0;
  width: 80%;
}

.navcentralexs{
  flex-wrap: wrap;

}
}

@media only screen and (max-width: 768px) {
.contenutosito nav ul li{
  width: 70%;
  flex-wrap: wrap;
}


  }

/*height media query */
@media screen and ( max-height: 800px ) {
  .overflowpl{
    height: 80%;
    overflow-y: scroll;

  }

  .navlateralebottom{
    position: static;
    bottom: 0;
  }
}

@media screen and ( max-height: 400px ) {

  .navlateralebottom{
    position: absolute;
    bottom: 0;
  }
}
