/* inizio regole css */

/* abbandono bootstrap, alla fine del layout mettere le regole responsive, col, row ecc. oppure senza. */

*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body{
  background: #151623;

}


/* */

.overflow{
overflow-y: visible;
}

.mainflex{
  display: flex;
}
.navlaterale{
  width: 230px;
  /* height: calc(100vh - 90px); */
  height: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  top: 0px;
  left: 0px;
  font-size: 14px;

}

.navlateraletop{
  flex-wrap: nowrap;
  align-self: center;
  padding-left: 20px;
  width: 100%;
}

.navlateraletop img{
  width: 14%;

}

.navlateraleplaylist{
  align-self: center;
  padding-left: 20px;
  width: 100%;
}

.navlateraleplaylist h2{
  color: white;
  font-size: 20px;
}

.fa-plus-square{
  font-size: 30px;
}

#logo{
  width: 60%;
  align-self: center;
  margin-right: 70px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.navlateralebottom{
  align-self: center;
  padding-left: 20px;
  width: 100%;
  position: absolute; /* da cambiare in position fixed in media query height */
  bottom: 90px;


}

.navlaterale ul li{
  list-style-type: none;
  padding: 4px 0;
}

.navlaterale ul li a{
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}

.navlaterale ul li a:hover{
  color: white;
}

.navlateralebottom a{
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}

.navlateralebottom a:hover{
  color: white;
}

.calltoaction{
  width: calc(100% - 230px);
  height: 90px;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 230px;
  text-align: right;
  z-index: 3;
}

.calltoaction a{
  text-decoration: none;
  color: white;
  background-color: none;
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px 40px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 20px;

}

.calltoaction a:hover{
  padding: 15px 45px;
}

.contenutosito{
  margin-top: 90px;
  /* width: calc(100% - 230px); */
  /* height: calc(100% - 90px); */
  /* height: calc(100% + 90px); */
  position: absolute;
  left: 240px;

}


.contenutosito nav ul{
    display: flex;
    justify-content: center;
}

.contenutosito nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;


}

.contenutosito nav ul li a{
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  font-size: 14px;
}

.contenutosito nav ul li a:hover{
  color: white;

}

.footerfixed{
  background: #282828;
  width: 100%;
  height: 90px;
  position: fixed;
  bottom: 0px;
  display: flex;

}

.footerleft{
display: flex;
justify-content: space-between;
}

.itemsleft{
display: flex;
justify-content: flex-start;
width: 33%;
}

.itemsleft img{
}

.covermusic{
  display: flex;
  flex-wrap: nowrap;
}

.covermusic li{
    display: inline-block;
    justify-content: center;
}

.itemscover{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  position: relative;
}

.layover{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    color: #FFF;
    display: none;
}

.itemscover img{
  width: 90%;

}

.itemscover:hover .layover {
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: auto;
}



.text{
  text-align: center;
  color: white;
  padding: 10px 0;


}

.text h4{
  font-size: 18px
}

.text p{
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
}

.contenutosito h2{
  color: white;
  font-size: 26px;
  padding-left: 14px;
  padding-bottom: 24px;
}

.roundedcover{
  border-radius: 100%;
}

.padbot{
  padding-bottom: 90px;
}
/* Inizio media query */

/*xs*/
